<!doctype html>
{% extends 'web/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-3">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="text-center border-bottom mb-3">Заявка на проведение выставки</legend>
            <div class="my-3">«О, да, вторсырье!» — это эколого-просветительский проект, главная тема которого — отходы и их
                переработка. Девиз проекта: «Посмотри на отходы под другим углом: это не мусор, это — вторсырье!» Одно
                из мероприятий проекта — выставка 40 плакатов на тему раздельного сбора. Плакаты разбиваются на 4 блока:
                проблема отходов, борьба с отходами, переработка как решение, сокращение отходов. Все плакаты сделаны в
                стиле комиксов, подают информацию наглядно, просто и с юмором.
            </div>
            {{ form|crispy }}
        </fieldset>
        <div class="text-center">
            <button class="btn btn-outline-success" type="submit">Подать заявку</button>
        </div>
    </form>

</div>
{% endblock content %}