<!doctype html>
{% extends 'web/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<form class="row g-3" method="POST">
    {% csrf_token %}
    <div class="row justify-content-center mt-3">
        <div class="card col-lg-7 bg-white mb-3" style="border-radius: 10px; background-size: 100%;">
            <img src="{% static 'img/main_logo.png'  %}" alt="image" style="background-size: cover;">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="max-width: 100rem; border-radius: 10px;">
            <div class="row">
                <div class="card-header bg-secondary text-center text-white" style="border-radius: 10px 10px 0px 0px;">
                    Заявка на проведение выставки
                </div>
            </div>
            <div class="my-3 text-center">«О, да, вторсырье!» — это эколого-просветительский проект, главная тема которого — отходы и их
            переработка. Девиз проекта: «Посмотри на отходы под другим углом: это не мусор, это — вторсырье!» Одно из
            мероприятий проекта — викторины для школьных команд в формате квиза. В ходе викторины ученики 5-7 кл. в
            игровом формате узнают важные и иногда шокирующие факты на тему отходов и переработки. Малая викторина: 45
            мин. на 1 класс. Большой формат: 1,5 часа на 50-100 детей.
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="border-radius: 10px;">
            <div class="row justify-content-start">
                <div class="col-md-6 my-3">
                    <label for="name" class="col-sm-4 col-form-label mx-1 mt-1">Имя</label>
                    <div class="field">
                        <input name="name" type="text" class="form-input my-2" id="name" placeholder="Иван" required>
                        <div class="line my-1"></div>
                        <div class="invalid-tooltip mt-2">
                            * Обязательное поле. Минимум 3 символа.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="border-radius: 10px;">
            <div class="row justify-content-start">
                <div class="col-md-6 my-3">
                    <label for="surname" class="col-sm-6 col-form-label mx-1 mt-1">Фамилия</label>
                    <div class="field">
                        <input name="surname" type="text" class="form-input my-2" id="surname" placeholder="Иванов"
                               required>
                        <div class="line my-1"></div>
                        <div class="invalid-tooltip mt-2">
                            * Обязательное поле. Минимум 3 символа.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="border-radius: 10px;">
            <div class="row justify-content-start">
                <div class="col-md-6 my-3">
                    <label for="city" class="col-sm-4 col-form-label mx-1 mt-1">Город</label>
                    <div class="field">
                        <input name="city" type="text" class="form-input my-2" id="city" placeholder="Санкт-Петербург"
                               required>
                        <div class="line my-1"></div>
                        <div class="invalid-tooltip mt-2">
                            * Обязательное поле. Минимум 3 символа.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="border-radius: 10px;">
            <div class="row justify-content-start">
                <div class="col-md-6 my-3">
                    <label for="vk/email" class="col-sm-6 col-form-label mx-1 mt-1">Вк или email</label>
                    <div class="field">
                        <input name="contacts" type="text" class="form-input my-2" id="vk/email"
                               placeholder="email@email.net" required>
                        <div class="line my-1"></div>
                        <div class="invalid-tooltip mt-2">
                            * Обязательное поле. Минимум 3 символа.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="border-radius: 10px;">
            <div class="row justify-content-start">
                <div class="col-md-6 my-3">
                    <label for="who_is_organize" class="col-sm-6 col-form-label mx-1 mt-1">Организатор</label>
                    <div class="field">
                        <select name="who_is_organize" id="who_is_organize" class="form-select my-3" required>
                            <option selected value="Активист">Вы лично (активист)</option>
                            <option value="Волонтерское движение">Волонтерское движение детей</option>
                            <option value="НКО">НКО</option>
                            <option value="Образовательное учреждение">Образовательное учреждение</option>
                            <option value="Молодежная организация">Молодежная организация</option>
                            <option value="Администрация города/района">Администрация города/района</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="border-radius: 10px;">
            <div class="row justify-content-start">
                <div class="col-md-6 my-3">
                    <label for="quiz_format" class="form-label">Какой формат викторин интересует?</label>
                    <div class="field">
                        <select name="quiz_format" id="quiz_format" class="form-select my-3" required>
                            <option selected value="Малая викторина 45 мин. на класс">Малая викторина 45 мин. на класс
                            </option>
                            <option value="Большая викторина 1,5 ч. на 50-100 детей">Большая викторина 1,5 ч. на 50-100
                                детей
                            </option>
                            <option value="Оба варианта">Оба варианта</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="border-radius: 10px;">
            <div class="row justify-content-start">
                <div class="col-md-6 my-3">
                    <label for="date" class="col-md-12 col-form-label mx-1 mt-1">Когда хотите организовывать
                        выставку?</label>
                    <div class="field">
                        <input name="date" type="date" class="form-input my-2" id="date" required>
                        <div class="line my-1"></div>
                        <div class="invalid-tooltip mt-2">
                            * Обязательное поле.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="border-radius: 10px;">
            <div class="row justify-content-start">
                <div class="col-md-6 my-3">
                    <label for="place" class="col-md-12 col-form-label mx-1 mt-1">Где хотите провести выставку?</label>
                    <div class="field">
                        <input name="place" type="text" class="form-input my-2" id="place"
                               placeholder="Школа/Вуз/Другое" required>
                        <div class="line my-1"></div>
                        <div class="invalid-tooltip mt-2">
                            * Обязательное поле. Минимум 3 символа.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-lg-7 bg-light mb-3" style="border-radius: 10px;">
            <div class="row justify-content-start">
                <div class="col-md-10 my-3">
                    <label for="notes" class="col-md-12 col-form-label mx-1 mt-1">Дополнительная информация.</label>
                    <textarea name="notes" type="text" class="form-control my-3" id="notes" rows="4"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-7 mb-3">
            <button class="btn btn-lg btn-secondary my-4" type="submit">Подать заявку</button>
        </div>
    </div>

</form>

{% endblock content %}
