<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-3">
    <div class="card col-lg-9 bg-white mb-3" style="border-radius: 10px; background-size: 100%;">
        <h5 class="card-title my-3">Проект состоит из двух ключевых мероприятий:</h5>
        <ul style="list-style-type:none;">
            <li><h5 style="color:#4fac64">Выставка</h5>
                Выставка из 40 плакатов на тему отходов и переработки, по желанию добавляются арт-объекты из отходов и
                выступления на экотему.<br><br>
                <b>Плакаты</b> делятся на 4 блока: проблема отходов (фиолетовый цвет), борьба с
                отходами (оранжевый), переработка как решение (зеленый), сокращение отходов (голубой). Стиль: рисунки в
                стиле комиксов с фактами и юмористическими комментариями.<br><br>
                <b>Аудитория</b> выставки: школьники, молодежь, семьи
                с детьми.<br>
                Мы готовы <b>делиться</b> своими <b>методиками</b> и наработками по организации проекта. Мы
                <b>распространяем</b> их бесплатно для безвозмездного использования.<br><br>
                <b>Кто может использовать</b>: НКО, незарегистрированные движения и отдельные экоактивисты по России,
                кроме
                СПб. <b>От нас</b>: инструкция, как организовать выставку, макеты плакатов и полиграфии, консультация.
                <b>От вас</b>:
                подписание соглашения о некоммерческом использовании, указание МОО «Мусора.Больше.Нет» как создателей,
                изучение и следование методике, данные по итогу."
                <div class="ratio ratio-16x9 my-3">
                    <iframe class="embed-responsive-item" width="100%" height="auto"
                            src="https://www.youtube.com/embed/_3K80QWwRzE?rel=0"
                            allowfullscreen>
                    </iframe>
                </div>
                <p class="lead text-center my-4">
                    <a type="button" class="btn btn-outline-success" href="exhibition_application_form" role="button">Подать
                        заявку на проведение выставки</a>
                </p>
            </li>
            <hr>
            <li><h5 style="color:#4fac64"><b>Викторина</b></h5>
                Экологический командный квиз для школьников на тему отходов и переработки. В ходе викторины ребята в
                игровом формате узнают важные и иногда шокирующие факты на тему отходов и переработки. Блоки: проблема
                отходов, борьба с отходами, переработка как решение, сокращение отходов. Соревновательный эффект
                побуждает участников думать над вопросами и рассуждать логически. Викторина мотивирует ребят на
                дальнейшее изучение темы.<br>
                <b>Формат</b>: малый на 45 минут на 1 класс и большой на 1,5 часа на 50-100 детей.<br><br>
                <b>Аудитория</b>: школьники 5-7 класс, ученики колледжа.<br><br>
                Мы готовы <b>делиться</b> своими <b>методиками</b> и наработками по организации проекта. Мы
                <b>распространяем</b> их бесплатно для безвозмездного использования.<br><br>
                <b>Кто может использовать</b>: НКО, незарегистрированные движения и отдельные экоактивисты по России,
                кроме СПб. <b>От нас</b>: инструкция, как организовать викторину со сценарием двух форматов, презентации
                для трансляции участникам, видео для викторины, макеты бланков, консультация. <b>От вас</b>: подписание
                соглашения о некоммерческом использовании, указание МОО «Мусора.Больше.Нет» как создателей, изучение и
                следование методике, данные по итогу.
                <div class="ratio ratio-16x9 my-3">
                    <iframe class="embed-responsive-item" width="100%" height="auto"
                            src="https://www.youtube.com/embed/Z_dApUWCdko?rel=0"
                            allowfullscreen>
                    </iframe>
                </div>
                <p class="lead text-center my-4">
                    <a type="button" class="btn btn-outline-success" href="quizzes_application_form" role="button">Подать
                        заявку на проведение викторины</a>
                </p>
            </li>
            <hr>
            <b>Разработчик проекта</b> — общественная межрегиональная организация «Мусора.Больше.Нет». мы занимаемся
            просветительской деятельностью, работаем с детьми в школах и садиках, со взрослыми — на открытых
            мероприятиях и корпоративных событиях.<br>
            <b>Группа проекта</b>: <a href="https://vk.com/odavtorsyreru" target="_blank" rel="noopener noreferrer"
                                      class="stretched-link" style="position: relative;">vk.com/odavtorsyreru</a><br>
            <b>Сайт организации</b>: <a href="https://mbnrus.ru" target="_blank" rel="noopener noreferrer"
                                class="stretched-link" style="position: relative;">mbnrus.ru</a><br>
            <b>Группа ВК организации</b>: <a href="https://vk.com/musora_bolshe_net" target="_blank" rel="noopener noreferrer"
                                 class="stretched-link" style="position: relative;">vk.com/musora_bolshe_net</a>
        </ul>
    </div>
</div>

{% endblock %}