<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-3">
    <div class="card col-lg-9 bg-white mb-3" style="border-radius: 10px; background-size: 100%;">
        <img src="{% static 'img/main_logo.png'  %}" alt="image" style="background-size: cover;">

        <div class="card-text my-3">
            «О, да, вторсырье!» — эколого-просветительский проект, главная тема которого — отходы и их
            переработка.<br>
            <b>Девиз проекта</b>: «Посмотри на отходы под другим углом: это не мусор, это — вторсырье!»<br>Благодаря
            проекту мы показываем, что уже пора задуматься, сколько мусора производит каждый из нас, куда он
            попадает после мусорного ведра, что происходит с ним на свалках, что такое переработка, зачем она
            нужна и как начать разделять отходы уже сегодня.
        </div>
        <hr>
        <h5 class="card-title">Проект состоит из двух ключевых мероприятий:</h5>
        <ol>
            <li><b>Выставка</b> из 40 плакатов по темам: проблема отходов, борьба с отходами, переработка
                как решение, сокращение отходов. Первая выставка прошла в
                <a href="https://vk.com/odavtorsyre" class="card-link" target="_blank"
                   rel="noopener noreferrer">Петербурге</a> в сентябре 2019 года: 8 лекций, 951
                посетитель.<br> Хотите провести выставку в своем городе (кроме Петербурга),
                <a href="{% url 'exhibition_application_form' %}">заполните заявку</a>, мы вышлем методику
                организации и макеты.
                <div class="ratio ratio-16x9 my-3">
                    <iframe class="embed-responsive-item" width="100%" height="auto"
                            src="https://www.youtube.com/embed/Z_dApUWCdko?rel=0"
                            allowfullscreen>
                    </iframe>
                </div>
            </li>
            <li>
                <b>Викторина</b> в формате квизов для школьных команд 5-7 кл., объединенных по 5-7 чел.
                Блоки: проблема отходов, борьба с отходами, переработка как решение, сокращение отходов.
                Малый формат на 45 минут на 1 класс и большой на 1,5 часа на 50-100 детей. В большом формате
                впервые прошли в Петербурге в 2019 году: 8 викторин, 522 школьника, в малом формате в
                <a href="https://vk.com/odavtorsyre" class="card-link" target="_blank"
                   rel="noopener noreferrer">Петербурге</a>
                состоялось 30 викторин для 750 детей благодаря сбору средств на <a
                    href="https://planeta.ru/campaigns/odavtorsyre" target="_blank"
                    rel="noopener noreferrer">крауд-платформе</a>.
                Хотите провести в своем городе (кроме Петербурга),
                <a href="{% url 'quizzes_application_form' %}">заполните заявку</a>,
                мы вышлем методику проведения, макеты и презентации.
                <div class="ratio ratio-16x9 my-3">
                    <iframe class="embed-responsive-item" width="100%" height="auto"
                            src="https://www.youtube.com/embed/_3K80QWwRzE?rel=0"
                            allowfullscreen>
                    </iframe>
                </div>
            </li>
        </ol>
        <hr>
        <h5 class="card-title">Отчеты и отзывы:</h5>
        <div class="card-text">
            <ol>
                <li>
                    <a href="https://vk.com/docs-185348458" class="card-link" target="_blank" rel="noopener noreferrer">Отчеты</a>
                    по
                    проектам в рамках гранта Фонда президентских грантов.
                </li>
                <li>
                    <a href="https://vk.com/topic-185348458_40490063" class="card-link" target="_blank"
                       rel="noopener noreferrer">Отзывы</a> о больших форматах викторины.
                </li>
            </ol>
        </div>
        <div class="card-title">
            <b>Алена Сан, представитель родительского комитета гимназии №642</b>:
        </div>
        <div class="card-text my-3"><q>
            Все дети и педагоги остались очень довольны. Ведущий весело и задорно вёл программу, все время
            держал внимание наших непоседливых пятиклашек. Викторина разбита на четыре блока. Вопросы
            появлялись на большом экране. Вся викторина проходила диномично, скоро, на каждый вопрос
            давалось ограниченное количество времени, поэтому расслабляться было некогда, нужно было быстро
            отвечать на вопросы. Ассистенты оперативно собирали ответы и так же быстро выдавали следующие
            задания. Судьи тоже не дремали и быстро подводили итоги предыдущего блока, а ведущий тут же
            озвучивал их, к всеобщей радости участников! Интерес, азарт, дух соперничества — всё
            присутствовало на этой викторине, даже удивление и расстройство от неправильных ответов! Но
            самое главное, дети узнали много нового о масштабах экологической проблемы и о том, как мы можем
            каждый в отдельности и все вместе помочь нашей планете!
        </q>
        </div>
        <div class="card-title">
            <b>Андрей Ахуткин, педагог-организатор школы №215</b>:
        </div>
        <div class="card-text my-3"><q>В викторине участвовали как дети из общеобразовательных классов, так и из классов
            для обучающихся с ОВЗ имеющих тяжелые нарушения речи. Сплоченная команда организаторов смогла выстоять
            натиск юных бутузов, и ни на секунду не снизила темп и градус активности и вовлечености детей в процесс
            игры. Ребята получили большое удовольствие от игры: огонь в глазах, азарт, командный дух и предвкушение
            победы витали в воздухе. Отдельно хочу сказать спасибо Карине Ивченко, за высокие организаторские
            способности, отзывчивость и понимание. Наша школа очень рада, что нам удалось стать сопричастными такому
            большому событию, тем более в рамках целого города.
        </q>
        </div>
    </div>
</div>

{% endblock content %}