<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-3">
    <div class="card col-lg-9 bg-white mb-3" style="border-radius: 10px; background-size: 100%;">
        <img src="{% static 'img/main_logo.png'  %}" alt="image" style="background-size: cover;">

        <div class="card-text my-3">
            «О, да, вторсырье!» — эколого-просветительский проект, главная тема которого — отходы и их
            переработка.<br>
            <b>Девиз проекта</b>: «Посмотри на отходы под другим углом: это не мусор, это — вторсырье!»<br>Благодаря
            проекту мы показываем, что уже пора задуматься, сколько мусора производит каждый из нас, куда он
            попадает после мусорного ведра, что происходит с ним на свалках, что такое переработка, зачем она
            нужна и как начать разделять отходы уже сегодня.
        </div>
        <hr>

        <!--Photo Carousel-->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/main_photos/photo_1.jpg' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/main_photos/photo_2.jpg' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/main_photos/photo_3.jpg' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/main_photos/photo_4.jpg' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/main_photos/photo_5.jpg' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/main_photos/photo_6.jpg' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/main_photos/photo_7.jpg' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/main_photos/photo_8.jpg' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/main_photos/photo_9.jpg' %}" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/main_photos/photo_10.jpg' %}" class="d-block w-100">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Назад</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Вперед</span>
            </button>
        </div>
        <hr>

        <!--Participant's statistic-->
        Статистика: Х городов, Х выставок, Х викторин, Х участников

        <p class="lead text-center my-4">
            <a type="button" class="btn btn-outline-success" href="about"
               role="button">Подробнее о нас</a>
        </p>
    </div>
</div>

{% endblock content %}