<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="row justify-content-center mt-3">
    <div class="card col-lg-9 bg-white mb-5 p-3" style="border-radius: 10px; background-size: 100%;">
      <div class="card-header bg-white card-text mb-4 text-center">
        <h5>Эколого-просветительский проект «О, да, вторсырье!»</h5>
      </div>
      <!--Photo Carousel-->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/main_photos/photo_1.jpg' %}" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/main_photos/photo_2.jpg' %}" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/main_photos/photo_3.jpg' %}" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/main_photos/photo_4.jpg' %}" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/main_photos/photo_5.jpg' %}" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/main_photos/photo_6.jpg' %}" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/main_photos/photo_7.jpg' %}" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/main_photos/photo_8.jpg' %}" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/main_photos/photo_9.jpg' %}" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/main_photos/photo_10.jpg' %}" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Назад</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Вперед</span>
        </button>
      </div>
      <div class="card-text my-3">
      Главная тема проекта — отходы и их переработка.<br>
        <b>Девиз проекта</b>: «Посмотри на отходы под другим углом: это не мусор, это — вторсырье!».<br>
      Благодаря проекту мы показываем, что уже пора задуматься, сколько мусора производит каждый из нас,
      куда он попадает после мусорного ведра, что происходит с ним на свалках, что такое переработка,
      зачем она нужна и как начать разделять отходы уже сегодня.
        </div>
    </div>
    <div class="card bg-white col-lg-9 justify-content-center my-0" style="border-radius: 10px;">
      <div class="card-header bg-white text-center mb-3">
        <h2 class="mb-3 mt-3">Наша статистика</h2>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Мы провели выставок - {{ exhibitions }}</li>
          <li class="list-group-item">Мы провели викторин - {{ quizzes }}</li>
          <li class="list-group-item">Города-участники проекта - {{ cities }}</li>
          <li class="list-group-item">Аудитория проекта - {{ visitors }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}