<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card my-3">
    <div class="card-header">Описание</div>
    <div class="table-responsive-sm table-responsive-md table-responsive-lg">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">№</th>
                <th class="text-center">Город</th>
                <th class="text-center">Организатор</th>
                <th class="text-center">Дата выставки</th>
                <th class="text-center">Место выставки</th>
                <th class="text-center">Количество участников</th>
                <th class="text-center">Отчет о выставке</th>
            </tr>
            </thead>
            <tbody>
            {% for exhibition in object_list %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ exhibition.city }}</td>
                {% if exhibition.who_is_organize == 'Активист' %}
                <td class="text-center">{{ exhibition.who_is_organize }}<br>{{ exhibition.surname }} {{ exhibition.name }}</td>
                {% else %}
                <td class="text-center">{{ exhibition.who_is_organize }}</td>
                {% endif %}
                <td class="text-center">{{ exhibition.event_date }}</td>
                <td class="text-center">{{ exhibition.place }}</td>
                <td class="text-center">{{ exhibition.visitors_number }}</td>
                <td>{{ exhibition.link }}</td>
            </tr>
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan=5>Пока что мы не провели ни одной выставки.<br>
                    Для подачи заявки на проведение выставки нажмите <a href="{% url 'exhibition_application_form' %}">сюда</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}