<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card my-3">
    <div class="card-header">Описание</div>
    <div class="table-responsive-sm table-responsive-md table-responsive-lg">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Город</th>
                <th>Организатор</th>
                <th>Дата выставки</th>
                <th>Место выставки</th>
                <th>Группа выставки</th>
                <th>Количество посетителей</th>
            </tr>
            </thead>
            <tbody>
            {% for exhibition in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ exhibition.city }}</td>
                {% if exhibition.who_is_organize == 'Активист' %}
                <td>{{ exhibition.who_is_organize }} {{ exhibition.surname }} {{ exhibition.name }}</td>
                {% else %}
                <td>{{ exhibition.who_is_organize }}</td>
                {% endif %}
                <td>{{ exhibition.event_date }}</td>
                <td>{{ exhibition.place }}</td>
                <td>{{ exhibition.link }}</td>
                <td>{{ exhibition.visitors_number }}</td>
            </tr>
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan=5>Пока что мы не провели ни одной выставки.<br>
                    Для подачи заявки на проведение выставки нажмите <a href="{% url 'exhibition_application_form' %}">сюда</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}