<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card my-3">
    <div class="table-responsive-sm table-responsive-md table-responsive-lg">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">№</th>
                <th class="text-center">Город</th>
                <th class="text-center">Организатор</th>
                <th class="text-center">Дата викторины</th>
                <th class="text-center">Место викторины</th>
                <th class="text-center">Количество участников</th>
                <th class="text-center">Отчет о викторине</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in object_list %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ quiz.city }}</td>
                {% if quiz.who_is_organize == 'Активист' %}
                <td class="text-center">{{ quiz.who_is_organize }}<br>{{ quiz.surname }} {{ quiz.name }}</td>
                {% else %}
                <td class="text-center">{{ quiz.who_is_organize }}</td>
                {% endif %}
                <td class="text-center">{{ quiz.event_date }}</td>
                <td class="text-center">{{ quiz.place }}</td>
                <td class="text-center">{{ quiz.visitors_number }}</td>
                <td>{{ quiz.link }}</td>
            </tr>
            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan=5>Пока что мы не провели ни одной викторины.<br>
                    Для подачи заявки на проведение викторины нажмите <a href="{% url 'quizzes_application_form' %}">сюда</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}