<!doctype html>
{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-3">
    <div class="card col-lg-9 bg-white mb-3" style="border-radius: 10px; background-size: 100%;">
        <img src="{% static 'img/team.jpg'  %}" alt="image" style="background-size: cover;">
        <p class="card-text my-3">
            Мы команда<a href="https://vk.com/spb_mbn" class="card-link" target="_blank"
                         rel="noopener noreferrer"> экологической общественной организации «Мусора.Больше.Нет»</a> в
            Петербурге. Занимаемся просвещением детей и взрослых по экотематике, на уроках и выступлениях рассказываем,
            как
            жить экологичнее, беречь ресурсы, продлевать жизнь вещей, сокращать и перерабатывать отходы. С 2015 по 2018
            годы
            наша петербургская команда спикеров провела <b>227 выступлений</b>, охватив <b>7200 человек</b>, из них <b>2800
            дети</b>.
        </p>
        <img src="{% static 'img/team_photo.jpg' %}" class="card-img-bottom  my-3">
        <h5 class="card-title">Среди наших проектов:</h5>
        <p class="card-text">
        <ul>
            <li>
                <a href="https://vk.com/prokachayecolife" class="card-link" target="_blank"
                   rel="noopener noreferrer"><b>онлайн-курс
                    «PROкачай ЭКОлайф»</b></a>, который прошли <b>4000 человек</b>,
            </li>
            <li>
                проекты по обмену стройматериалами <a href="https://vk.com/stroisharing" class="card-link"
                                                      target="_blank"
                                                      rel="noopener noreferrer"><b>«Стройшеринг»</b></a> и реквизиту для
                кино и театра<a href="https://vk.com/requisitarium" class="card-link" target="_blank"
                                rel="noopener noreferrer"><b>«Реквизитариум»</b></a>,
            </li>
            <li>
                эколого-благотворительный проект <a href="https://vk.com/kryshechki_dobroty" class="card-link"
                                                    target="_blank"
                                                    rel="noopener noreferrer"><b>«Крышечки ДоброТы»</b></a> — за 3 года
                собрали <b>10 тонн крышечек</b> на переработку, навырученные средства адресно помогли <b>15 детям</b> с
                различными заболеваниями,
            </li>
            <li>
                проект <b>«Субботники каждый 4-ю сб месяца»</b>: благодаря нам с 2015 по 2018 годы прошла <b>71
                уборка</b> в Петербурге и Ленобласти при участии <b>1550 человек</b>, где собрали <b>30 тонн смешанных
                отходов</b> и <b>15 тонн раздельно собранных отходов</b>.
            </li>
        </ul>
        </p>
        <img src="{% static 'img/team2_photo.jpg' %}" class="card-img-bottom">
        <p class="card-text my-3">
            Сейчас в нашей основной команде <b>5 координаторов проектов</b> и <b>25 экоспикеров</b>, более <b>400
            волонтеров</b> подключаются к нашим акциям ежегодно. Наши <b>спикеры</b> — это экологисты, которые сами
            практикуют <b>экологичный образ жизни</b>: сдают на переработку отходы, обмениваются вещами, берегут
            природные
            ресурсы и делятся своими знаниями и опытом с желающими. Делаем мы это с позитивом, без нажима, показывая
            свой
            пример.
        </p>
    </div>
    <div class="card col-lg-9 bg-white mb-3" style="border-radius: 10px; background-size: 100%;">
        <img src="{% static 'img/project_idea.jpg' %}" class="card-img-bottom">
        <p class="card-text my-3">
            Так как <b>экотематика</b> многим кажется сложной и скучной, то у нашей команды постоянно стоит задача
            делать не только
            <b>полезные</b>, но <b>яркие</b> и <b>оригинальные</b> мероприятия, которые будут позитивно восприниматься
            участниками, особенно
            детьми.
        </p>
    </div>
</div>

{% endblock %}