<!doctype html>
{% load compile_static %}
{% load static %}
<html lang="ru">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <title>О, да, вторсырье!</title>

</head>
<!--<body style="background-color: #b7dbb9;">-->
<body>

<!-- Navigation Bar-->
<!--<body style="background-color: #b7dbb9;">-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logo.jpg' %}" width="60" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">О нас</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuReports" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Статистика
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'exhibition_reports' %}">Статистика о проведении
                            выставок</a></li>
                        <li><a class="dropdown-item" href="{% url 'quizzes_reports' %}">Статистика о проведении
                            викторин</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuApplicationForms" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Подать заявку
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'exhibition_application_form' %}">Заявка на
                            выставку</a></li>
                        <li><a class="dropdown-item" href="{% url 'quizzes_application_form' %}">Заявка на
                            викторину</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="# ">Отчеты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Main Content-->
<main role="main" class="container my-3">
    <div class="row">
        <div class="col">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="card">
            <div class="my-3">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>


</main>

</body>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!--Less JS-->
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'lessc/base.less'|compile %}"/>
<script src="{% static 'js/main.js' %}" type="text/javascript"></script>

<!-- Highlight current page on NavBar -->
<script>
    $(function () {
        $('nav li a').filter(function () {
            return this.href === location.href;
        }).addClass('active');
    });
</script>

</html>